@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(1,4,25);
    background: linear-gradient(90deg, rgba(1,4,25,1) 100%, rgba(0,2,13,1) 100%);
color: aliceblue;
}

@keyframes bounce {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
  }
  
  .animate-bounce {
    animation: bounce 1s infinite;
  }
  